In [9]:
import pandas as pd
from lib.stream.stream import Stream
import numpy as np
import time

In [10]:
    stream = Stream()
    stream.connect()

====================
Nothing happening? Make sure that the lab
streaming layer application is running :)
===================
Connected to streams.

In [28]:
time.sleep(2)
time_series = stream.pull_time_series(10000)

Printing time_series for  10000  milliseconds.
Timeseries complete

In [29]:
datastream = pd.DataFrame(time_series, columns=["timestamp",0,1,2,3,4,5,6,7])

In [30]:
datastream.head()

,timestamp,0,1,2,3,4,5,6,7
0,8139.642099,-187500.015625,-28064.648438,-10133.856445,25408.949219,-10231.734375,-187500.046875,37681.242188,13564.201172
1,8139.642214,-187500.015625,-28272.699219,-9777.815430,24258.191406,-9958.126953,-187500.046875,38059.457031,13873.503906
2,8139.642328,-187500.015625,-28048.109375,-9665.207031,23617.367188,-9791.896484,-187500.046875,38135.628906,14035.129883
3,8139.642441,-187500.015625,-27688.492188,-9962.485352,24405.736328,-9967.916992,-187500.046875,37790.003906,13817.222656
4,8139.642551,-187500.015625,-27706.820312,-10255.136719,25508.503906,-10240.943359,-187500.046875,37508.371094,13523.789062

In [31]:
datastream.to_csv('Data/sample_10s_lr5.csv')

array([[   7112.34768665, -162774.171875  , -162457.78125   , ...,
        -162540.078125  , -162583.734375  , -161838.609375  ],
       [   7112.34783638, -162107.171875  , -162129.421875  , ...,
        -163223.4375    , -162943.03125   , -161802.6875    ],
       [   7112.34795341, -162049.28125   , -162092.484375  , ...,
        -163359.265625  , -162962.171875  , -161782.015625  ],
       ...,
       [   7122.31641482, -157926.09375   , -157934.28125   , ...,
        -159300.375     , -158871.484375  , -157706.28125   ],
       [   7122.31688054, -158417.90625   , -158284.21875   , ...,
        -158789.359375  , -158541.703125  , -157680.40625   ],
       [   7122.37114519, -159027.296875  , -158542.46875   , ...,
        -158164.390625  , -158286.5       , -157727.        ]])