In [1]:
import pandas as pd
from lib.stream.stream import Stream
import numpy as np

In [2]:
    stream = Stream()
    stream.connect()
    time_series = stream.pull_time_series(10000)

====================
Nothing happening? Make sure that the lab
streaming layer application is running :)
===================
Connected to streams.
Printing time_series for  10000  milliseconds.
Timeseries complete

In [5]:
datastream = pd.DataFrame(time_series, columns=["timestamp",0,1,2,3,4,5,6,7])

In [6]:
datastream.head()

,timestamp,0,1,2,3,4,5,6,7
0,10784.901409,-187500.015625,-34150.917969,-29071.685547,14976.808594,-16101.079102,-187500.015625,-26448.171875,-23018.251953
1,10784.901550,-187500.015625,-34272.042969,-28863.947266,14796.564453,-16034.381836,-187500.015625,-26193.785156,-22880.027344
2,10784.901667,-187500.015625,-34194.750000,-28562.087891,14160.523438,-15785.450195,-187500.015625,-25887.902344,-22600.050781
3,10784.901781,-187500.015625,-34021.949219,-28577.375000,13940.670898,-15695.461914,-187500.015625,-25945.658203,-22559.146484
4,10784.901893,-187500.015625,-33979.859375,-28879.191406,14437.304688,-15872.509766,-187500.015625,-26271.570312,-22795.425781

In [7]:
datastream.to_csv('Data/sample_10s.csv')